/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-07-23, 17:47:46
    Author     : twarnicki
*/
body{
        
        font-family: 'Roboto Slab', serif;
        background-color: #4a5c6b;
        
}

header{
    background: white;
}
#content{
    background: white;
}


.content-area , .widget-area{
    margin-top: 40px;
}

input{
    max-width: 100%;
}

.site-branding{
    margin-left:auto;
    margin-right:auto;
    max-width:  964px;
}

.site-branding img {
    float:left;
    height:100px;
    width:100px;
    margin-right: 20px;
    
}

.site-title{
    clear:none; 
    font-size: 2em;
    margin-top: 0.67em;
    font-weight: bold;
    text-color: black;
        
    
}

.site-title a:hover,.site-title a:visited,.site-title a,.site-title a:active{
    text-decoration: none;
    color:black;
}

.site-description{
    margin-top: 0em;
}

.main-navigation{
    margin-top: 20px;
    background-color: lightblue;
    
    
}

#primary-menu{
    margin-left:auto;
    margin-right:auto;
    max-width:  964px;
    
    
}

#site-navigation{
    box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
    -moz-box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
    
    background-color: rgb(243, 243, 243);
    

}
.jumbotron{
    height:500px;
    background-color: lightblue;
}

#primary-menu li a{
    height:80px;
    padding:20px;
    line-height: 40px;
    color:black;
    
}

#primary-menu li a:hover {
    background-color:rgba(204,204,204,0.25);
    
}

.container{
    margin-left:auto;
    margin-right:auto;
    max-width:  964px;
    
}

.site-info{
    text-align: center;
    
}

.site-footer{
    margin-left:auto;
    margin-right:auto;
    max-width:  964px;
    margin-top:30px;
    color:white;
    font-size: 0.8em;
    padding: 50px;
}

.site-footer a{
    color:white;
    text-decoration: none;
    
}


.widget-top{
    float:right;
    text-align: right;
}

.widget-top h5{
    margin-bottom:0px;
}


h1:first-of-type{
    margin-top:0px;
}